<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
    <link rel="stylesheet" href="/users.css">
</head>
<body>
    <table>
        <tr >
            <th>id</th>
            <th>username</th>
            <th>email</th>
            <th>password</th>
        </tr>
        <% for (user of users){ %>
            <tr>
                <td><%= user.id%></td>
                <td><%= user.username%></td>
                <td><%= user.email%></td>
                <td><%= user.password%></td>
                <td>
                    <form action="/user/<%=user.id%>/edit" method="get">
                        <button>Edit</button>
                    </form>
                </td>
                <td>
                    <form method="post" action="/user/<%=user.id%>?_method=delete">
                        <button>Delete</button>
                    </form>
                </td>
            </tr>
        <%}%>
    </table>
</body>
</html>